body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-image: url('prud.png'); /* Замените на путь к вашей фотографии пруда */
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    color: #fff; /* Для улучшения видимости текста на фоне */
}

#score-container {
    margin-top: 20px;
    position: relative;
}

#score {
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Добавление тени для улучшения читаемости текста */
}

#frog-container {
    position: relative;
    display: inline-block;
    margin: 0 auto; /* Центрирование по горизонтали */
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
}

#frog {
    width: 200px;
    height: 200px;
    background-image: url('frog.png'); /* Изображение лягушки */
    background-size: cover;
    cursor: pointer;
    margin-bottom: 10px;
}

#energy-bar-container {
    width: 200px;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px auto; /* Центрирование по горизонтали */
    position: relative;
}

#energy-bar {
    width: 100%;
    height: 100%;
    background-color: #76c7c0;
}

#energy-text {
    position: absolute;
    right: 10px;
    top: -25px;
    font-size: 18px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Добавление тени для улучшения читаемости текста */
}
